<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <input>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>MPD Gallery</title>
  <link type="text/css" rel="stylesheet" href="templatemo_style.css">
</head>
<body>
<!-- end of templatemo_site_title_bar -->
<div id="templatemo_banner_wrapper">
<div id="templatemo_menu">
<ul>
<!-- class="current"--> <li><a href="#"><span>MPD2</span></a></li>
  <li><a href="#"><span>events
news seminars</span></a></li>
  <li><a href="#"><span>curriculum</span></a></li>
  <li><a href="#"><span>master's
program</span></a></li>
  <li><a href="#"><span>students+alumni</span></a></li>
  <li><a href="#"><span>executive
education</span></a></li>
  <li><a href="#"><span>info</span></a></li>
</ul>
</div>
<!-- end of templatemo_banner --></div>
<!-- end of templatemo_banner_wrapper -->
<div class="cleaner"></div>
<div style="margin-left: 50px;">
<h2>Project Name</h2>
<a href="managePro.php">go
back to manage projects</a>
<br>
<table>
  <tbody>
    <tr style="background-color: rgb(153, 153, 153);">
      <td style="width: 600px;"><button type="button">delete</button>
      </td>
      <td style="width: 70px;"><a href="managePro.php">cancel</a></td>
      <td style="width: 140px;"><button type="button">save and publish</button>
      </td>
    </tr>
  </tbody>
</table>
<table style="color: rgb(0, 0, 0);" border="1">
  <tbody>
    <tr>
      <td style="width: 825px; background-color: rgb(153, 153, 153);">
Product Information</td>
    </tr>
    <br>
  </tbody>
</table>
<form method="post" name="projectinfo">
  <table style="width: 800px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 30px; font-size: 20px;"><span
 style="font-family: Garamond; color: rgb(0, 0, 0);">Product
Title:</span>
        </span><input style="margin-left: 20px; width: 300px;"
 name="producttitle" id="producttitle" type="text"></tr>
      <br>
      <br>
      <tr style="margin-top: 20px; font-size: 20px;">
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 30px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond; font-size: 20px;">MPD
Class:</span>
        </span>
        <select style="margin-left: 34px;">
        <option value="MPD 1">MPD
1</option>
        <option value="MPD 2">MPD
2</option>
        <option value="MPD 3">MPD
3</option>
        <option value="MPD 4">MPD
4</option>
        <option value="MPD 5">MPD
5</option>
        <option value="MPD 6">MPD
6</option>
        <option value="MPD 7">MPD
7</option>
        <option value="MPD 8">MPD
8</option>
        </select>
      </tr>
      <br>
      <br>
      <tr style="margin-top: 20px; font-size: 20px;">
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 30px; font-size: 20px;"><span
 style="font-family: Garamond; font-size: 20px; color: rgb(0, 0, 0);">Project
Status:</span>
        </span>
        <select style="margin-left: 15px;">
        <option value="inactive">Inactive</option>
        <option value="active">Active</option>
        </select>
      </tr>
    </tbody>
    <br>
  </table>
</form>
<table style="color: rgb(0, 0, 0);" border="1">
  <tbody>
    <tr>
      <td style="width: 825px; background-color: rgb(153, 153, 153);">Project
Participants:</td>
    </tr>
    <br>
  </tbody>
</table>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
1:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user1name" id="user1name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user1email" id="user1email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user1sponser" id="user1sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
2:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user2name" id="user2name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user2email" id="user2email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user2sponser" id="user2sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
3:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user3name" id="user3name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user3email" id="user3email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user3sponser" id="user3sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
4:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user4name" id="user4name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user4email" id="user4email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user4sponser" id="user4sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
5:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user5name" id="user5name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user5email" id="user5email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user5sponser" id="user5sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<div
 style="border: 1px solid black; width: 700px; height: 160px; margin-left: 50px;">
<form>
  <table style="width: 600px; margin-left: 50px; color: rgb(0, 0, 0);">
    <tbody>
      <tr>
        <span
 style="font-family: Garamond; font-size: 20px; margin-left: 40px; color: rgb(0, 0, 0);">User
6:</span>
      </tr>
    </tbody>
  </table>
  <table style="margin-left: 100px;">
    <tbody>
      <tr>
      </tr>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Full Name:</span>
        </span><input style="margin-left: 50px; width: 300px;"
 name="user6name" id="user6name" type="text"></tr>
      <br>
      <br>
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Email: </span>
        </span><input style="margin-left: 75px; width: 300px;"
 name="user6email" id="user6email" type="text"></tr>
      <br style="color: rgb(0, 0, 0);">
      <br style="color: rgb(0, 0, 0);">
      <tr>
        <span
 style="font-family: Times New Roman,Times,serif; margin-left: 80px; font-size: 15px; color: rgb(0, 0, 0);"><span
 style="font-family: Garamond;">Sponsered by:</span>
        </span><input style="margin-left: 30px; width: 300px;"
 name="user6sponser" id="user6sponser" type="text"></tr>
    </tbody>
  </table>
</form>
</div>
<br>
<br>
<br>
<table>
  <tbody>
    <tr style="background-color: rgb(153, 153, 153);">
      <td style="width: 600px;"><button type="button">delete</button>
      </td>
      <td style="width: 70px;"><a href="managePro.php">cancel</a></td>
      <td style="width: 140px;"><button type="button">save and publish</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<div class="cleaner"></div>
<!-- end of templatemo_content -->
<div id="templatemo_content_bottom"></div>
<div id="templatemo_footer_wrapper">
<div id="templatemo_footer"><br>
</div>
<!-- end of footer -->
<div class="cleaner"></div>
</div>
<!-- end of templatemo_footer_wrapper -->
</div>
</body>
</html>
